/* You can add global styles to this file, and also import other style files */




.section-title span {
  position: absolute;
  top: -22px;
  color:
    color-mix(in srgb, var(--heading-color), transparent 95%);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 1;
}

p {
  font-family: 'Poppins';
  line-height: 40px;
}